:root {
  --primary-color: #41700b;
  --secondary-color: #c80934;
}

body {
  margin: 0 50px;
}

div {
  text-align: center;
  width: 100%;
}
ul {
  padding: 10px 0 10px 0;
}
li {
  background-color: rgba(250, 234, 86, 0.89);
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--primary-color);
  color: var(--secondary-color);
  display: inline;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 15px;
  padding: 8px;
}

li:hover {
  cursor: pointer;
}

hr {
  background: linear-gradient(
    110.1deg,
    rgb(65, 112, 11) 2.9%,
    rgb(250, 234, 86) 90.3%
  );
  border: none;
  height: 45px;
  padding: 0;
  margin: 0;
  width: 100%;
}
img {
  border-radius: 10px;
  float: left;
  margin: 10px;
  width: 40%;
}
h1 {
  color: var(--primary-color);
  font-size: 80px;
  margin: 0 auto;
}
h2 {
  color: var(--secondary-color);
  margin: 0 auto;
  text-decoration: underline;
}
button {
  background-color: var(--primary-color);
  box-shadow: 2px 2px 5px var(--primary-color);
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px 45px 10px;
  transition: all 200ms ease-in-out;
}
button:hover {
  background-color: rgb(250, 234, 86);
  color: #c80934;
  cursor: pointer;
}
strong {
  color: var(--primary-color);
}
.aboutMe {
  font-size: 18px;
}
.instaAccount {
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  margin: 10px;
  padding: 10px 50px 10px;
}
.apply {
  font-weight: 500;
}
